{% extends '@layout/default.html.twig' %}

{% block title %}Update{% endblock %}
{% block stylesheets %}
    <style>
        small {
            float: right;
        }
    </style>
{% endblock %}

{% import "@app/components/_forms.twig" as forms %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <div class="page-header">
                <h1>{{ ads.car.brand.name }} {{ ads.car.model.name }}
                    <small>Добавлено {{ ads.dateCreate|date('Y-m-d') }}</small>
                </h1>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <form class="form-horizontal" action="" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                    <label for="ads_price" class="col-sm-3 control-label">Цена</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" class="form-control" name="ads[price]"
                                   id="ads_price" required value="{{ ads.price }}"/>
                            <span class="input-group-addon">руб. </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="car_bodyType" class="col-sm-3 control-label">Тип кузова</label>
                    <div class="col-sm-9">
                        <select name="car[bodyType]" id="car_bodyType" class="form-control">
                            {% for item in carBodyTypes %}
                                <option value="{{ item.id }}" {% if ads.car.bodyType.id == item.id %}selected{% endif %}>{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="car_year_issue" class="col-sm-3 control-label">Год выпуска</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" class="form-control" name="car[yearIssue]"
                                   id="car_year_issue" required pattern="[0-9]{4}" value="{{ ads.car.yearIssue }}"/>
                            <span class="input-group-addon">года </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="car_mileage" class="col-sm-3 control-label">Пробег</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" class="form-control" name="car[mileage]"
                                   id="car_mileage" required pattern="^[ 0-9]+$" value="{{ ads.car.mileage }}"/>
                            <span class="input-group-addon">т.км. </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="car_build" class="col-sm-3 control-label">Состояние автомобиля</label>
                    <div class="col-sm-9">
                        <select name="car[build]" id="car_build" class="form-control">
                            {% for item in carBuilds %}
                                <option value="{{ item.id }}" {% if ads.car.build.id == item.id %}selected{% endif %}>{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="car_description" class="col-sm-3 control-label">Дополнительно</label>
                    <div class="col-sm-9">
                        <textarea name="car[description]" id="car_description" class="form-control"
                                  rows="3" {% if ads.car.description == '' %}placeholder="Цвет, кондиционер, климат-контроль, ABS, обогрев руля и т.д." {% endif %}>{{ ads.car.description }}</textarea>
                    </div>
                </div>
                <hr/>
                <div class="pull-right">
                    <button class="btn btn-success" name="update" type="submit">Сохранить</button>
                    <a href="{{ path('ads.view', {'id':ads.id}) }}" class="btn btn-default">Отмена</a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}