{% extends '@layout/default.html.twig' %}

{% block title %}Add{% endblock %}

{% block stylesheets %}
    <style>
        form > .form-control, form > .input-group {
            margin-top: 10px;
        }

        select:required:invalid {
            color: #999;
        }

        option[value=""][disabled] {
            display: none;
        }

        option {
            color: black;
        }
    </style>
{% endblock %}

{% import "@app/components/_forms.twig" as forms %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <form class="form-horizontal" action="{{ path('car.add') }}" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                    <label for="car_brand" class="col-sm-3 control-label">Марка автомобиля</label>
                    <div class="col-sm-9">
                        {{ forms.select('car[brand]', 'car_brand', 'Марка автомобиля', carBrands) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="car_brand" class="col-sm-3 control-label">Марка автомобиля</label>
                    <div class="col-sm-9">
                        <select name="car[model]" id="car_model" class="form-control" disabled>
                            <option value="0" disabled selected hidden>Модель...</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="car_bodyType" class="col-sm-3 control-label">Тип кузова</label>
                    <div class="col-sm-9">
                        {{ forms.select('car[bodyType]', 'car_bodyType', 'Тип кузова', carBodyTypes) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="car_year_issue" class="col-sm-3 control-label">Год выпуска</label>
                    <div class="col-sm-9">
                        {{ forms.inputGroupAddon('car[yearIssue]', 'car_year_issue', 'года ', 'Год выпуска') }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="car_mileage" class="col-sm-3 control-label">Пробег</label>
                    <div class="col-sm-9">
                        {{ forms.inputGroupAddon('car[mileage]', 'car_mileage', 'т.км.', 'Пробег') }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="car_build" class="col-sm-3 control-label">Состояние автомобиля</label>
                    <div class="col-sm-9">
                        {{ forms.select('car[build]', 'car_build', 'Состояние', carBuilds) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="car_description" class="col-sm-3 control-label">Дополнительные сведения</label>
                    <div class="col-sm-9">
                        {{ forms.textarea('car[description]', 'car_description', 'Дополнительные сведения об автомобиле') }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-default" name="add">Добавить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}