{% extends '@layout/default.html.twig' %}

{% block title %}Car{% endblock %}

{% block stylesheets %}
    <style>
        form > .form-control, form > .input-group {
            margin-top: 10px;
        }

        select:required:invalid {
            color: #999;
        }

        option[value=""][disabled] {
            display: none;
        }

        option {
            color: black;
        }
    </style>
{% endblock %}

{% import "@app/components/_forms.twig" as forms %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <form action="">
                {{ forms.select('brand', 'car_brand', 'Марка автомобиля', carBrands) }}
                {{ forms.select('bodyType', 'car_bodyType', 'Тип кузова', carBodyTypes) }}
                {{ forms.inputGroupAddon('yearIssue', 'car_year_issue', 'года ', 'Год выпуска') }}
                {{ forms.inputGroupAddon('mileage', 'car_mileage', 'т.км.', 'Пробег') }}
                {{ forms.select('build', 'car_build', 'Состояние', carBuilds) }}
                {{ forms.textarea('description', 'car_description', 'Дополнительные сведения об автомобиле') }}
            </form>
        </div>
    </div>
{% endblock %}